<nav class="nav">
    <div class="nav_marca">
        <img src="../../../assets/Imagenes/tituloParadiseFilms.PNG" alt="">    
    </div>
    <ul class="nav_ul"> 
        @if(hayToken && soyAdmin){
            @if (!opcionesAdmin){
                <button class="nav_ul_li" (click)="adminOptions()"><i class="fa-solid fa-user-tie"></i>Admin</button>
            } @else{
                <ul class="nav_ul_admin">
                    <li class="nav_ul_admin_li"><a routerLink="/adminFilms" (click)="adminOptions()"><i class="fa-solid fa-screwdriver-wrench"></i>Adm.Películas</a></li>
                    <li class="nav_ul_admin_li"><a routerLink="/adminSeries" (click)="adminOptions()"><i class="fa-solid fa-screwdriver-wrench"></i>Adm.Series</a></li>
                    <li class="nav_ul_admin_li"><a  routerLink="/adminUsers" (click)="adminOptions()"><i class="fa-solid fa-screwdriver-wrench"></i>Adm.Usuarios</a></li>
                </ul>
            }           
        }   
        
        @if(hayToken){            
            <li class="nav_ul_li">
                <a class="nav_ul_li_a" routerLink="/films" (click)="adminOptionsFalse()"><i class="fa-solid fa-film"></i>Películas</a>
            </li>
            <li class="nav_ul_li">
                <a class="nav_ul_li_a" routerLink="/series" (click)="adminOptionsFalse()"><i class="fa-solid fa-tv"></i>Series</a>
            </li>
            <button class="nav_ul_li_button" type = "button" (click) = "doLogout()" routerLink="/"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
            
        } @else {
            <li class="nav_ul_li">
                <a class="nav_ul_li_a" routerLink="/">Home</a>
            </li>
            <li class="nav_ul_li">
                <a class="nav_ul_li_a" routerLink="/login">Login</a>
            </li>
            <li class="nav_ul_li">
                <a class="nav_ul_li_a" routerLink="/register">Register</a>
            </li>
        }
    </ul>
</nav>
