<div class="divAdmin">
    <img src="https://i.postimg.cc/05MZ0dV1/admin.jpg" alt="img-Admin" class="divAdmin_imgAdmin" />
      <h1>Bienvenido Admin</h1>
      <h2>
        En este área podrás crear o borrar las series
        deseadas de la base de datos
      </h2>
      <div class="admin">
        <div class="crearBorrar">
          <app-form-delete-serie></app-form-delete-serie>
          <app-form-create-serie></app-form-create-serie>
        </div>
        <div class="listaBuscadorFilms">
          <app-table-series></app-table-series>
        </div>                        
      </div>
      
    </div>
