
<div class="film">
    <img class="img" src="{{serie.img}}" alt="{{serie.title}}"/>
    <div class="film_datos">
        <div class="film_datos_principales">
            <h5 class="title"> {{serie.title}} </h5>
            <h5 class="director"> <strong>Director:</strong> {{serie.director}} </h5>        
            <h5 class="year"><strong>Año:</strong> {{serie.year}}</h5>
            <p class="category"> <strong>Categoría:</strong> {{serie.category}}</p>
        </div>        
        <p class=" synopsis">{{serie.synopsis}}</p>
    </div>
</div>
