.contenedor{
    display: flex;
    flex-direction: column wrap;
    width: 60vw;
    justify-content: center;
    margin: 30px 0;
}
.form {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 95%;
    padding: 15px;
    border: 2.5px solid aquamarine;
    background-color:black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    
}
.form h3{
    width: 100%;
    text-align: center;
    font-size: clamp(22px, 3vw, 30px);
    color: aquamarine;
    margin-bottom: 20px;
}
.form_fieldset {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
    border: none;
    margin: 5px 0;
}
.form_fieldset_input {
    height: 25px;
    padding-left: 10px;
}
label{
    font-size: 18px;
    font-weight: 700;
    color: aquamarine;
    margin-bottom: 5px;
}

.form_button_submit {
    width: 150px;
    height: 30px;
    border: solid 0px;
    border-radius: 3px;
    background-color: rgba(172, 255, 47, 0.527);
    color: yellow;
    font-size: clamp(12px, 2vw, 16px);
    font-weight: 600;
    margin-top: 20px;
    padding: 5px 10px;
}
.form_button_submit:hover{
    cursor: pointer;
    scale: 1.05;
}
@media (width < 1224px) {
    .contenedor{
        width: 90vw;
        min-width: 350px;
    }
}
@media (width < 767px) {
    .contenedor{
        width: 100%;
        min-width: 350px;
    }
}